@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');

h1 {
    font-size: rem(60);
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.01em;
}

h2 {
    font-weight: 600;
    font-size: rem(40);
    line-height: 1.2;
    letter-spacing: -0.03em;
}